
@{
    ViewData["Title"] = "CreateItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateItem</h1>

<input type="button" class="btn btn-primary btn-lg btn-block" value="Vape" onclick="location.href='@Url.Action("AddItem",new { @id = 1 })'">
<input type="button" class="btn btn-primary btn-lg btn-block" value="Pod-System" onclick="location.href='@Url.Action("AddItem",new { @id = 2})'">
<input type="button" class="btn btn-primary btn-lg btn-block" value="Juice" onclick="location.href='@Url.Action("AddItem",new { @id = 3 })'">
