@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Rashed</h1>
</div>

<div>
    @Html.ActionLink("Back to List", "AddItem")
</div>

<input type="button" class="btn btn-primary btn-lg btn-block" value="اضافة" onclick="location.href='@Url.Action("CreateItem")'">
<input type="button" class="btn btn-primary btn-lg btn-block" value="جرد" onclick="location.href='@Url.Action("AddItem")'">
